{{yield}}
<h2>Login</h2>

<form {{action 'submit' on='submit'}}>
  <div class="form-group">
      <label for="">Email</label>
      {{input value=credentials.identification class="form-control"}}
  </div>
    <div class="form-group">
        <label for="">Password</label>
      {{input type="password" value=credentials.password class="form-control"}}
    </div>
    <button type="submit" class="btn btn-primary pull-right">Login</button>
</form>
