
<div class="footer-basic-centered">

    <p class="footer-company-motto"></p>

    <!--<p class="footer-links">-->
    <!--<a href="#">Home</a>-->
    <!--·-->
    <!--<a href="#">Blog</a>-->
    <!--·-->
    <!--<a href="#">Pricing</a>-->
    <!--·-->
    <!--<a href="#">About</a>-->
    <!--·-->
    <!--<a href="#">Faq</a>-->
    <!--·-->
    <!--<a href="#">Contact</a>-->
    <!--</p>-->

    <p class="footer-company-name">Croweye &copy; 2016</p>

</div>