
<div class="menu">
    <h1>
        <em>One click to change your life.</em>
    </h1>
</div>
<div class="col-md-12 well">
  {{#one-slot odoId="odo1" number=10}}{{/one-slot}}
  {{#one-slot odoId="odo2" number=10}}{{/one-slot}}
  {{#one-slot odoId="odo3" number=10}}{{/one-slot}}
  {{#one-slot odoId="odo4" number=10}}{{/one-slot}}
  {{#one-slot odoId="odo5" number=10}}{{/one-slot}}
  {{#one-slot odoId="odo6" number=10}}{{/one-slot}}
</div>

<div id="gen-button" class="btn btn-primary text-center" {{action "generate"}}>Xin số!</div>
